/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Estilos para los botones */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

/* Input de texto */
input {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50;
  outline: none;
}

/* Listas y elementos dentro de la lista */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  background-color: #f44336;
  padding: 5px 10px;
  border-radius: 3px;
}

li button:hover {
  background-color: #e53935;
}

/* Temporizador */
.timer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

/* Estilos para los títulos */
h1, h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 22px;
}

/* Animación y transición en el logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 1s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilo del fondo de la app */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Enlaces */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
